/* my styles */
:root {
  --cute-green: #b6cb9e; 
  --tea-green: #d1f0b1;
  --forest-green: #273c2c;
  --happy-green: #a8c686;
  --moss-green: #939f5c;
  --khaki-brown: #d4b483; 
  --calming-blue: #a4b8c4; 
  --sky-gray: #c8d3d5; 
  --pink-sand: #e4c3ad;
  --baby-yellow: #f6efa6;  
}
/* google fonts available */ 
/* font-family: 'Cabin', 'Rubik', 'Space Mono' */

body {
  background-color: var(--cute-green);
}

/* hero section*/ 
.hero-image {
  background-image:url("./assets/images/daisies-background.jfif");
  background-size: cover;
  background-position: 100%;
  position: relative;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  min-height: 100%;
}

.hero-text {
  margin: 400px; 
  color: white;
  font-family: 'Cabin';
  font-size: 40px; 
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

/* About Me Section */
.about-me-header {
  font-family: 'Rubik'; 
  font-size: 40px;
}

.profile-photo {
  max-width: 50%; 
  max-height: 100%; 
  border-radius: 200px;
  box-shadow: 15px 15px 15px var(--forest-green);
}

.about-description {
  font-family: 'Cabin';
  font-size: 25px; 
}

