/* my styles */
:root {
  --cute-green: #b6cb9e; 
  --tea-green: #d1f0b1;
  --forest-green: #273c2c;
  --happy-green: #a8c686;
  --moss-green: #939f5c;
  --khaki-brown: #d4b483; 
  --calming-blue: #a4b8c4; 
  --sky-gray: #c8d3d5; 
  --pink-sand: #e4c3ad;
  --baby-yellow: #f6efa6;  
}
/* google fonts available */ 
/* font-family: 'Cabin', 'Rubik', 'Space Mono' */

body {
  background-color: var(--cute-green);
}

/* About Me Section */
.about-me-header {
  font-family: 'Rubik'; 
  font-size: 40px;
}

.profile-photo {
  max-width: 50%; 
  max-height: 100%; 
  border-radius: 200px;
  box-shadow: 15px 15px 15px var(--forest-green);
}

.about-description {
  font-family: 'Cabin';
  font-size: 25px; 


}

