/* my styles */
:root {
  --cute-green: #b6cb9e; 
  --tea-green: #d1f0b1;
  --forest-green: #273c2c;
  --happy-green: #a8c686;
  --moss-green: #939f5c;
  --khaki-brown: #d4b483; 
  --calming-blue: #a4b8c4; 
  --sky-gray: #c8d3d5; 
  --pink-sand: #e4c3ad;
  --baby-yellow: #f6efa6;  
}
/* google fonts available */ 
/* font-family: 'Cabin', 'Rubik', 'Space Mono' */

body {
  background-color: #191A1D;
}


a:link {
  text-decoration: none !important;
}

/* navigation */ 

.navbar {
  background-color: #121212;
}

.nav-text-name {
  font-size: 20px; 
  font-family: 'Rubik'; 
}

.navbar-light .navbar-brand {
  color: #FAFAFA;
}

.nav-text {
  font-size: 15px; 
  font-family: "Rubik";
}

.navbar-light .navbar-nav .nav-link {
  color: #FAFAFA;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
  color: var(--sky-gray);
}

/* About Me Section */
.about-me-header {
  font-family: 'Cabin'; 
  color: #FAFAFA
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #FAFAFA;
}

.right {
  right: 0;
  background-color:#191A1D;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.profile-photo {
  max-width: 100%; 
  max-height: 100%; 
}

.about-description {
  font-family: 'Cabin';
  font-size: 15px; 
  color: #FAFAFA
}

/* contact */ 

.form-text {
  font-family: "Rubik";
  font-size: 15px;
  color: #FAFAFA
}

.contact-btn {
  background-color: var(--calming-blue);
  font-family: "Space Mono";
  font-size: 20px;
}

.form-control {
  background-color: #FAFAFA;
}

.error-msg {
  font-family: 'Cabin';
  color: rgb(206, 6, 6);
}


/* portfolio */ 

.portfolio-text {
  font-family: "Cabin";
  color: #FAFAFA
}

.projects-div {
  margin-top: 10%
}

.arrow {
  color: white;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation: bounce 2s infinite;
  animation: arrow 2s infinite;
}

@keyframes arrow {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.project-line {
  border: 1px solid #fafafa6a;
  margin-top: 22%;
}

.all-projects {
  margin-top: 5%;
}

.project-scrnshots {
  max-width: 100%;
  min-height: 90%;
  position: relative;
}

.project-desc {
  position: absolute;
  top: 0;
  bottom: 15px;
  left: 15px;
  right: 15px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  font-size: 15px;
  font-family: 'Rubik';
  text-align: center;
  margin-top: 22%
}

#superherosmash:hover .project-desc, #stuckInside:hover .project-desc, #fly-high:hover .project-desc, #weather:hover .project-desc, 
#tech-applied:hover .project-desc, #team-generator:hover .project-desc, #noSQL:hover .project-desc {
  visibility: visible;
  opacity: 1;
}


#superherosmash:hover .project-scrnshots, #stuckInside:hover .project-scrnshots, #fly-high:hover .project-scrnshots, #weather:hover .project-scrnshots,
#tech-applied:hover .project-scrnshots, #team-generator:hover .project-scrnshots, #noSQL:hover .project-scrnshots{
  opacity: .2;
}

.project-indv {
  margin-top: 10%; 
}

.project-links {
  text-align: center;
  margin-top: 20px
}
.project-link {
  color: #FAFAFA; 
  font-size: 20px;
  margin: 10px;
}

/* resume */ 
.resume-section {
  font-size: 18px; 
  font-family: 'Cabin';
  color: #FAFAFA
}

.resume-download {
  color: #004777
}

.certificate {
  max-width: 100%;
  border-style: double;
}

.resume-icons {
  font-size: 80px;
  color: #FAFAFA
}

/* footer */ 
.contact-links {
  font-size: 80px; 
  padding: 0;
  transition-duration: 500ms;
  color: #FAFAFA
}

.contact-links:hover {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(1.4);
  color: var(--baby-yellow);
  text-shadow: 2px 4px 6px var(--baby-yellow);
}

.sm-pfp {
  display: none;
}

/* media queries */ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1200px) {
  .about-me-header {
    font-size: 20px;
  }
  
  .profile-photo {
    max-width: 150%; 
    margin-left: -25% 
  }
  
  .about-description {
    font-size: 12px; 
  }
}

@media (max-width: 767.98px) {
  .about-me-header {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .center {
    top: 52%;
  }

  .project-photo {
    max-width: 100% ;
  }
  
  .about-description {
    font-size: 15px;
    margin-top: 15px 
  }
}

@media (max-width: 576px) {
  .about-me-header {
    margin-top: 20px;
  }

  .sm-pfp {
    display: block;
    height: 70%; 
    width: 70%; 
    margin: auto;
    margin-top: 10%;
  }

  .project-photo {
    display: none;
  }
  
  .split {
    height: 0%;
    width: 0%;
  }

  #about-me-desc-lg {
    display: none;
  }
  
  
  .about-description {
    font-size: 15px; 
  }
}

